h1, h2, h3, h4 {
    margin: 0 !important;
    padding: 0 !important;
}

.list-group-item h4 {
    margin-right: 20px !important;
}

.modal h1 {
    padding: 15px !important;
}

#display {
	height: 100%;
	width: 100%;
	color: #E5E583;
	overflow-x: hidden;
  	overflow-y: hidden;
}

img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

#display-list {
	margin-left: 50px;
	margin-top: 125px;
}

#display-list2 {
	margin-top: 165px;
}

.display-row{
	margin-right: 15px;
	margin-left: 15px;
}

body{
	height: 100%;
	width: 100%;
}

#main-content{
	padding: 0px;
}