list-group-item h4 {
    margin-right: 20px !important;
}

.modal h1 {
    padding: 15px !important;
}

.queue h1 {
    margin-left: 15px;
}

#display {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}
.display-title {
    margin: 50px;
    color: white;
}
.display-count {
    font-size: 24px;
}
.display-list {
    font-size: 32px;
    color: white;
    margin: 50px;
    counter-reset: li;
    padding: 0px;
}
.display-list > li {
    position: relative;
    margin: 0px 0px 10px 2em;
    list-style: none;
}
.display-list > li::before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -2em;
    box-sizing: border-box;
    width: 2em;
    font-style: italic;
    font-size: 0.9em;
    opacity: 0.5;
}
.display-list > li.pending {
    opacity: 0.5;
    font-style: italic;
}

#maze-display {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 50%;
    height: 100%;
    background-image: url(/images/maze-bg.jpg);
    background-size: cover;
    z-index: 4;
}
#maze-display h1 {
    color: #CF6124;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 44px;
}

#zombie-display {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 50%;
    height: 100%;
    background-image: url(/images/zombie-bg.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    background-color: black;
    z-index: 4;
}
#zombie-display .display-title {
    margin-top: 150px;
}

#display-overflow-mask {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 15%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.0) 0%,rgba(0, 0, 0, 1) 100%);
    z-index: 5;
}

body {
	height: 100%;
	width: 100%;
}

#main-content{
	padding: 0px;
}